<section class="bg-gray-50 min-h-screen py-8">
  <div class="flex flex-col items-center justify-center px-6 mx-auto">
    <img class="w-8 h-8 mr-2" src="https://www.svgrepo.com/show/54410/blog.svg" alt="logo">
    Angular 👍🏽
    <div class="w-full bg-white rounded-lg shadow sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
          Create an account
        </h1>
        <form class="space-y-4 md:space-y-6" [formGroup]="registerForm" (submit)="submit()">
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Your Username</label>
            <input type="text" id="username" formControlName="username"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                   [class.border-red-700]="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
                   placeholder="name@company.com" required>
          </div>
          @if (registerForm.get('username')?.invalid && registerForm.get('username')?.touched) {
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">Username field is Required!</p>
          }
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
            <input type="password" formControlName="password" id="password" placeholder="••••••••"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                   [class.border-red-700]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                   required>
          </div>
          @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">Password field is Required!</p>
          }
          <div>
            <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900">Confirm password</label>
            <input type="password" formControlName="confirmPassword" id="confirm-password"
                   placeholder="••••••••"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                   [class.border-red-700]="!registerForm.get('confirmPassword')?.untouched && registerForm.get('confirmPassword')?.value !== registerForm.get('password')?.value"
                   required>
          </div>
          @if (!registerForm.get('confirmPassword')?.untouched && registerForm.get('confirmPassword')?.value !== registerForm.get('password')?.value) {
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">Confirm Password Must match the Original
              Password!</p>
          }

          <div formArrayName="phoneNumbers">
            <label class="block mb-2 text-sm font-medium text-gray-900">Phone Numbers</label>
            <div *ngFor="let phone of phoneNumbers.controls; let i = index" class="mb-2">
              <div class="flex items-center">
                <input type="tel" [formControlName]="i"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                       placeholder="Enter phone number">
                <button type="button" (click)="removePhoneNumber(i)" class="ml-2 text-red-600 hover:text-red-800">
                  Remove
                </button>
              </div>
            </div>
            <button type="button" (click)="addPhoneNumber()" class="mt-2 text-blue-600 hover:text-blue-800">
              Add Phone Number
            </button>
          </div>
          @if (registerForm.get('phoneNumbers')?.invalid && (registerForm.get('phoneNumbers')?.touched || registerForm.get('phoneNumbers')?.dirty)) {
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">At least one phone number is required!</p>
          }
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input id="terms" aria-describedby="terms" formControlName="termsAndConditions" type="checkbox"
                     class="w-4 h-4 border border-red-900 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300"
                     required>
            </div>
            <div class="ml-3 text-sm">
              <label for="terms" class="font-light text-gray-500">I accept the <a
                class="font-medium text-primary-600 hover:underline" href="#">Terms and Conditions</a></label>
            </div>
          </div>
          @if (registerForm.get('termsAndConditions')?.invalid && registerForm.get('termsAndConditions')?.touched) {
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">You should agree to terms and conditions to be
              registered!</p>
          }
          <button type="submit" [disabled]="registerForm.invalid"
                  class="w-full text-white bg-gray-900 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Create an account
          </button>
          <p class="text-sm font-light text-gray-900">
            Already have an account? <a routerLink="/login" class="font-medium text-primary-600 hover:underline">Login
            here</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
