<nav class="bg-zinc-50 shadow-md dark:bg-gray-800">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex-shrink-0 flex items-center">
        <a routerLink="/" class="flex items-center">
          <img class="h-8 w-auto" src="https://www.svgrepo.com/show/54410/blog.svg" alt="Logo">
          <span class="ml-3 text-xl font-semibold text-gray-800 dark:text-white">Angular 👍🏽</span>
        </a>
      </div>
      @if(isHomeRoute) {
      <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-center">
        <div class="max-w-lg w-full lg:max-w-xs">
          <label for="search" class="sr-only">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                   fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                      clip-rule="evenodd"/>
              </svg>
            </div>
            <input id="search" name="search" [(ngModel)]="searchTerm" (input)="onSearch()"
                   class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                   placeholder="Search" type="search">
          </div>
        </div>
      </div>
      }
      <div class="hidden md:flex items-center">
        @if (isLoggedIn) {
        <a routerLink="home"
           class="text-gray-800 dark:text-white hover:text-blue-700 px-3 py-2 rounded-md text-sm font-medium">Home</a>
          @if (isAdmin) {
            <a routerLink="dashboard"
               class="text-gray-800 dark:text-white hover:text-blue-700 px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
          }
          <button type="button" (click)="logout()"
                  class="ml-4 text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 text-center">
            Logout
          </button>
        } @else {
          <button type="button"
                  class="ml-4 text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center">
            <a routerLink="login">login</a>
          </button>
        }
      </div>
    </div>
  </div>
</nav>
