<section class="bg-white  py-8 lg:py-16 antialiased">

  <div class="max-w-2xl mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-4 text-gray-800">{{ post.title }}</h1>
    <p class="text-gray-600 mb-6">{{ post.body }}</p>
  </div>
</section>


<section class="bg-white  py-8 lg:py-16 antialiased">
  <div class="max-w-2xl mx-auto px-4">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Comments ({{ post.comments.length }})</h2>
    </div>
    @for (comment of post.comments; track comment) {

      <article class="p-6 text-base bg-white rounded-lg ">
        <footer class="flex justify-between items-center mb-2">
          <div class="flex items-center">
            <p class="inline-flex items-center mr-3 text-sm text-gray-900 font-semibold">{{ comment.name }}</p>
            <p class="text-sm text-gray-600 "> {{ comment.email }} </p>
          </div>
        </footer>
        <p class="text-gray-500 ">{{ comment.body }}</p>

      </article>
    }
  </div>
</section>


